.header{
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: rgb(255, 255, 255);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(218, 218, 218, 0.777);
}



.left-section{
  display: flex;
  align-items: center;
}

.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.hamburger-menu:hover{
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.youtube-logo{
  height: 25px;
}

.middle-section{
  flex: 1;
  margin-left: 75px;
  margin-right: 47px;
  max-width: 800px;
  display: flex;
  align-items: center;
 }

 .search-button{
  height: 40px;
  width: 60px;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(201, 201, 201);
  margin-left: 0;
 }

 .search-bar{
  flex:1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-color: rgb(234, 234, 234);
  border-radius: 5px;
  background-color: rgb(252, 252, 252);
  width: 50%;
 }

 .search-bar::placeholder{
  font-family: roboto,arial;
  font-size: 16px;
 }

.search-icon{
  height: 29px;
  margin-top: 3px;
  border: none;
}

.search-button:hover{
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

 .voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border: none;
  border-color: rgb(241, 241, 241);
  margin-left: 1px;
 }

 .voice-search-button:hover{
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.right-section{
  width: 200px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
}

.upload-icon:hover{
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.youtube-apps-icon{
  height: 24px;
}

.youtube-apps-icon:hover{
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.notifications-icon{
  height: 24px;
}

.notifications-icon:hover{
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.current-user-pictuer{
  height: 30px;
  border-radius: 16px;
}

.current-user-pictuer:hover{
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}