.sidebare {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 65px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebare-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebare-link:hover{
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.sidebare-link img{
  height: 24px;
  margin-bottom: 4px;
}
 
.sidebare-link div{
  font-family: roboto,arial;
  font-size:10px;
  
}